<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice-to-Text</title>
    <!-- <link rel="stylesheet" href="./static/css/styles.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            transform: scale(1.5);
            transform-origin: 0 0;
        }
      </style>
</head>
<body>
    <h1>🎈🙌🏿 Thought uploaded succesfully to the Tank!</h1>
    <form action = "/thinktank">
        <button>
            Send another thought
        </button>
    </form>
    
</body>
</html>
